 body {
    background-image: url("img/space.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#conteneur {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#couverture img {
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

#text {
    margin-left: 30px;
    margin-right: 20px;
    padding: 1%;
    max-width: 600px;
    margin-bottom: 10%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    font-size: 16px;
    color: #333;
}

#telecharger {
    text-decoration: none;
    margin-left: 30%;
    background-color: #222;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    padding: 10px 30px;
    border-radius: 5px;
}
